/* Styling for index.html section 2 */

.sec2 {
  display: flex;
  justify-content: space-between;
  height: 23%;
  width: 100%;
  padding: 40px 205px 0 205px;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1;
  font-weight: bold;
}

.right-side, .temp-cond, .temperature, .location {
  display: flex;
  color: #000;
  font-size: 30px;
  font-weight: normal;
}

.right-side {
  flex-direction: row;
  justify-content: space-between;
}

.right-side p {
  margin-left: 10px;
}