/* Styling for index.html section 3 */

.sec3 {
  display: flex;
  justify-content: left;
  height: 20%;
  width: 100%;
  padding: 0 210px;
}

.hourly-forecast, .humidity, .feels-like {
  background-color: #fff;
  height: 20vh;
  margin-right: 2.5%;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.hourly-forecast {
  width: 55%;
  border-radius: 20px;
}

.humidity, .feels-like {
  width: 20%;
  border-radius: 20px;
}

.hourly-times, .hourly-temps, .hourly-title, .humidity-info, .feels-info {
  display: flex;
  font-size: 18px;
  font-weight: normal;
  color: #000;
}

.hourly-title {
  color: red;
  font-size: 18px;
}

.hourly-times p {
  margin-right: 20px;
}

.hourly-temps p {
  margin-right: 40px;
}

.humidity p, .feels-like p {
  font-size: 18px;
  font-weight: normal;
  color: black;
  margin-right: 20px;
}

.humidity-value, .feels-value {
  font-size: 30px !important;
}

.humidity img, .feels-like img {
  width: 28px;
  height: 28px;
  margin-right: 5px;
}

.humidity-info p, .feels-info p {
  color: red;
}