/* styling for index.html section 3 */

.sec3 {
    display: flex;
    justify-content:left;
    height: 20%;
    width: 100%;
    padding-left: 205px;
    padding-right: 205px;
}

.hourly-forecast {
    background-color: #fff;
    width: 55%;
    height: 20vh;
    margin-right: 2.5%;
}

.humidity {
    background-color: #fff;
    width: 20%;
    height: 20vh;
    margin-right: 2.5%;
}

.hourly {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
  
  .hourly-times, .hourly-temps {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: normal;
  }
  
  .hourly-times p {
    margin-right: 20px;
    color: #000000;
  }
  
  .hourly-temps p {
    margin-right: 40px;
    color: #000000;
  }
  
  .hourly-title {
    font-size: 18px;
    font-weight: normal;
    color: red;
  }

  .divider {
    width: 90%;
    height: 1px;
    background: #000000;
    margin-bottom: 10px;
    margin-top: -5px;
  }

  /* humidity */

  .humidity {
    padding: 15px;
    display: flex;
    flex-direction: column;
  }

  .humidity-info {
    display: flex;
    flex-direction: row;
  }

  /* feels like */

  .feels-like {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #fff;
    width: 20%;
    height: 20vh;
  }

  .feels-info {
    display: flex;
    flex-direction: row;
  }

  .humidity p, .feels-like p {
    color: black;
    font-size: 18px;
    font-weight: normal;
    margin-right: 20px;
  }

  .humidity-value, .feels-value {
    font-size: 30px !important;
  }

  .humidity img, .feels-like img {
    width: 28px;
    height: 28px;
    margin-right: 5px;
  }

  .humidity-info p, .feels-info p{
    color: red;
  }