/* Styling for index.html section 4 */
.sec4 {
    display: flex;
    justify-content: space-between;
    padding: 10px 205px;
}

.visual-map {
    position: relative;
    overflow: hidden;
    background-color:  #CDCDCD;
    width: 40%;
    border-radius: 20px;
    margin-left: 40px;
}

#map {
    position: absolute;
    border-radius: inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 7-day forecast section */
.forecast {
    background-color: #CDCDCD;
    width: 60%;
    border-radius: 20px;
    padding: 20px;
}

.forecast__list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.forecast__day-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;

    color: black;
    font-weight: bold;
    font-size: 18px;
}

.forecast__day {
    flex: 1;
    font-weight: bold;
}

.forecast__day-row dd {
    margin-right: 40px;
}

img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

