/* styling for index.html section 4 */

.sec4 {
    display: flex;
    justify-content: left;
    height: 45vh;
    background-color: white;
    padding-top: 10px;
    padding-right: 205px;
    padding-left: 205px;
}

.five-day-forecast {
    height: 40vh;
    background-color: #A2D1F0;
    width: 43vw;
    border-radius: 20px;
    margin-right: 20px;
}

.visual-map {
    height: 40vh;
    background-color: #A2D1F0;
    width: 27.5vw;
    border-radius: 20px;
}

#map {
    width: 100%;
    height: 100%;
}