/* Global Styles */
body {
    background-color: #f5f5f5;
    font-family: 'San Francisco', Arial, sans-serif;
}

/* Define heights and background colors for the sections */
.sec1 {
    height: 12%;
    width: 100%;
}

/* Navbar and Search Input Styles */
.topnav {
    background-color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 205px 16px 205px;
}

.input-background {
    display: flex;
    background-color: #f5f5f5;
    justify-content: space-between; /* Align contents to the right */
    align-items: center;
    border-radius: 50px;
    padding: 0 5px 0 5px;
}

input, form, .zip-input, .zip-input:focus {
    background-color: #f5f5f5;
    color: black; /* Adjusted text color */
    text-align: center;
    border: none;
    border-radius: 50px;
    padding: 5px; /* Common padding for inputs */
}

.search-button {
    padding-right: 10px;
    padding-left: 40px;
    background: url('/static/media/searchblack.png') 95% center no-repeat;
    background-size: 22px; /* Adjusted the size of the icon */
}

::placeholder {
    color: black !important;
}

.area-title {
    color: red;
}

.location-div {
    display: flex;
    flex-direction: row;
}

.location {
    margin-right: 10px;
}

