/* styling for index.html */
body {
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
}

/* Define heights and background colors for the sections */
.sec1 {
    height: 12%;
    width: 100%;
}

.topnav {
    background-color: #CDCDCD;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 205px 16px 205px;
}

input, form {
    background-color: #FFFFFF;
    color: white;
    text-align: center;
    border: none;
    border-radius: 50px;
    padding: 5px;
}

.input-background {
    display: flex;
    background-color: #FFFFFF;
    justify-content:space-between; /* Align contents to the right */
    align-items: center;
    border-radius: 50px;
    padding: 0 5px 0 5px;
}

.search-button {
    padding-right: 10px;
    padding-left: 40px;
    background: url('/static/media/searchicon.png') 100% center no-repeat;
}

::placeholder {
    color: black!important;
}

.zip-input, .zip-input:focus {
    color: black;
    background-color: #FFFFFF !important;
    border-radius: 50px;
    padding-left: 45px;
}

.forecast__humidity {
    color: #058ED9 !important;
}

