/* styling for index.html */

/* Define heights and background colors for the sections */
.sec1 {
    height: 12vh;
    background-color: #2C94E0; /* Blue */
}

.topnav {
    background-color:#2C94E0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 205px 16px 205px;
}

input, form {
    background-color: #1C658C;
    color: white;
    text-align: center;
    border: none;
    border-radius: 50px;
    padding: 5px;
}

.input-background {
    display: flex;
    background-color: #1C658C;
    justify-content:space-between; /* Align contents to the right */
    align-items: center;
    border-radius: 50px;
    padding: 0 5px 0 5px;
}

.search-button {
    padding-right: 10px;
    padding-left: 40px;
    background: url('/static/media/searchicon.png') 100% center no-repeat;
}

::placeholder {
    color: white!important;
}

.zip-input, .zip-input:focus {
    color: white;
    background-color: #1C658C !important;
    border-radius: 50px;
    padding-left: 45px;
}

