<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/sec2.css">
    <link rel="stylesheet" href="static/css/sec3.css">
    <link rel="stylesheet" href="static/css/sec4.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

    <!-- Dark Mode -->
    <link rel="stylesheet" href="static/css/dark-mode.css"> <!-- Add a separate CSS file for dark mode styles -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


    <title>FlameForecast</title>
</head>
<body id="body">
    
    <!-- Navigation Bar -->
    <div class="sec1">
        <nav class="topnav">
            <img src="/static/media/flameforecast.png" alt="FlameForecast Logo" width="80" height="60" class="logo">
            <form class="form-inline" action="{{ url_for('index') }}" method="post">
                <div class="input-background">
                    <input id="zipCodeInput" class="zip-input" type="text" placeholder="Search Zip Code" name="zipCode">
                    <input class="search-button" type="submit" value="">
                </div>
            </form>
        </nav>
    </div>

    <!-- section with location, temperatures, and weather condition -->
    <div class="sec2">
        <div class="left-side">
            <div class="location-div">
                <p class="location"> {{ location }} </p>
                <a id="darkModeButton" href="#">
                    <img src="/static/media/light-dark.png" alt="light/dark" width="30" height="30">
                </a>
            </div>
            <div class="temp-cond">
                <p class="temperature"> {{ temp }}° | </p>
                <p class="condition"> | {{ weather }} </p>
            </div>
        </div>

        <div class="right-side">
            <p class="high-temp"> H: {{ high }}° </p>
            <p class="low-temp"> L: {{ low }}° </p>
        </div>
    </div>

    <!-- section with hourly forecast, feels like, and humidity condition -->
    <div class="sec3">
        <div class="hourly-forecast">
            <div class="hourly">
                <p class="hourly-title"> Hourly Forecast (Today) </p>
                <div class="hourly-times">
                    <p class="time-1">12 AM</p>
                    <p class="time-2">3 AM</p>
                    <p class="time-3">6 AM</p>
                    <p class="time-4">9 AM</p>
                    <p class="time-5">12 PM</p>
                    <p class="time-6">3 PM</p>
                    <p class="time-7">6 PM</p>
                    <p class="time-8">9 PM</p>
                </div>

                <span class="divider"></span>

                <div class="hourly-temps">
                    <p class="temp-1">{{ hourly_temps[0] }}°</p>
                    <p class="temp-2">{{ hourly_temps[1] }}°</p>
                    <p class="temp-3">{{ hourly_temps[2] }}°</p>
                    <p class="temp-4">{{ hourly_temps[3] }}°</p>
                    <p class="temp-5">{{ hourly_temps[4] }}°</p>
                    <p class="temp-6">{{ hourly_temps[5] }}°</p>
                    <p class="temp-7">{{ hourly_temps[6] }}°</p>
                    <p class="temp-8">{{ hourly_temps[7] }}°</p>
                </div>
            </div>
        </div>

        <div class="humidity">
            <div class="humidity-info">
                <img src="/static/media/humidity.png" alt="humidity-icon">
                <p> Humidity </p>
            </div>
            <p class="humidity-value"> {{ humidity }}% </p>
        </div>

        <div class="feels-like">
            <div class="feels-info">
                <img src="/static/media/temp.png" alt="feels-icon">
                <p> Feels Like </p>
            </div>
            <p class="feels-value"> {{ feels_like }}° </p>
        </div>
    </div>

    <!-- section with 7-day forecast, gps location map -->
    <div class="sec4">
        <div class="forecast">
            <div class="forecast__header">
                <h2 class="area-title">7 Day Forecast</h2>
            </div>
            <div class="forecast__list">
                {% for date in forecast_data["date"] %}
                    <div class="forecast__day-row">
                        <dt class="forecast__day">{{ date.strftime('%A') }}</dt>
                        <dd class="forecast__low">{{ forecast_data["low"][loop.index0] }}°</dd>
                        <dd class="forecast__high">{{ forecast_data["high"][loop.index0] }}°</dd>
                        <dd class="forecast__humidity">
                            <img class="uvImage" src="/static/media/uv.png" alt="" width="30" height="30"> {{ forecast_data["uv"][loop.index0] }}
                        </dd>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="visual-map">
            <div id="map" data-latitude="{{ latitude }}" data-longitude="{{ longitude }}">
                <iframe
                    width="600"
                    height="450"
                    style="border:0"
                    loading="lazy"
                    allowfullscreen
                    referrerpolicy="no-referrer-when-downgrade"
                    src="https://www.google.com/maps/embed/v1/view?key=AIzaSyAX2Sp73OJASXuK6wiUSbEH1KMpyrMcwC0
                        &center={{ latitude }},{{ longitude }}
                        &zoom=12">
                </iframe>
            </div>
        </div>
    </div>    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- scripts for google maps api -->
    <script>
        (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
          key: "AIzaSyAX2Sp73OJASXuK6wiUSbEH1KMpyrMcwC0",
          v: "weekly",
          // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
          // Add other bootstrap parameters as needed, using camel case.
        });
      </script>

      <!-- google maps script -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <script>
        // Wait for the DOM to be ready
        document.addEventListener("DOMContentLoaded", function() {
          // Get the map element
          const mapElement = document.getElementById("map");
      
          // Get latitude and longitude from data attributes
          const latitude = parseFloat(mapElement.dataset.latitude) || 0; // Default to 0 if not found
          const longitude = parseFloat(mapElement.dataset.longitude) || 0;
      
          // Initialize the map
          const map = new google.maps.Map(mapElement, {
            center: { lat: latitude, lng: longitude },
            zoom: 12
          });
      
          // Add a marker at the specified location
          new google.maps.Marker({
            position: { lat: latitude, lng: longitude },
            map: map
          });
        });
      </script>


    <!-- Light/Dark Mode -->
    <script>
        $(document).ready(function () {
            // Check local storage for the mode and set it
            var currentMode = localStorage.getItem('mode');
            if (currentMode) {
                $("#body").addClass(currentMode);
            }

            // Add a click event listener to the light-dark image button
            $("#darkModeButton").click(function () {
                // Toggle the dark mode class on the body element
                $("#body").toggleClass("dark-mode");

                // Store the current mode in local storage
                var mode = $("#body").hasClass("dark-mode") ? "dark-mode" : "";
                localStorage.setItem('mode', mode);

                // Change UV image source based on dark mode state
                var uvImage = $(".uvImage");
                var newSrc = $("#body").hasClass("dark-mode") ? "/static/media/uv-dark.png" : "/static/media/uv.png";
                uvImage.attr("src", newSrc);
            });
        });
    </script>

</body>
</html>